<div class="concept {{{foldedClass}}}">
  <header class="{{{conceptSchemeClass}}}">
    <a class="close" href="/">X</a>
    <p class="context"><a href="{{{conceptScheme}}}" class="link">{{{conceptScheme}}}</a></p>
  </header>
  <div class="body">
    {{#if concept}}
    <nav>
      <a class="prev" href="/"><</a>
      <a class="next" href="/">></a>      
    </nav>
    {{/if}}
    <hgroup>
      <code>{{{type}}}</code>
      {{#if prefLabel}}
        <h1>{{{label_with_language prefLabel language}}}</h1>
      {{/if}}
      <p>{{{uri}}}</p>

    </hgroup>
    <detail>

      {{#if skos:definition}}
        <h2><code>skos:definition</code></h2>
        <p class="definition">{{{translation_label skos:definition}}}</p>
      {{/if}}
      {{#if concept}}
      {{#if "prefLabel && concept"}}
        <h2><code>skos:prefLabel</code></h2>
        <ul>
        {{#each prefLabel}}
          <li>{{{translation_label this}}} ({{{translation_language this}}})</li>
        {{/each}}
        </ul>
      {{/if}}
      {{/if}}
      {{#if altLabel}}
        <h2><code>skos:altLabel</code></h2>
        <ul>
        {{#each altLabel}}
          <li>{{{translation_label this}}} ({{{translation_language this}}})</li>
        {{/each}}
        </ul>
      {{/if}}
      {{#if hasTopConcept}}
        <h2><code>skos:hasTopConcept</code></h2>
        <ul>
          {{#each hasTopConcept}}
            <li><a href="{{{this}}}" class="link">{{{this}}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if parents}}
        <h2><code>skos:broader</code></h2>
        <ul>
          {{#each parents}}
            <li class="parent_{{@index}}"><a href="{{{this}}}" class="link">{{{this}}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if narrower}}
        <h2>Children <code>skos:narrower</code></h2>
        <ul>
        {{#each narrower}}
          <li><a href="{{{this}}}" class="link">{{{this}}}</a></li>
        {{/each}}
        </ul>
      {{/if}}
      {{#if exactMatch}}
        <h2><code>skos:exactMatch</code></h2>
        <ul>
      	{{#each exactMatch}}
        	<li><a href="{{{this}}}" {{{is_internal_link this}}}>{{{this}}}</a></li>
     	 	{{/each}}
        </ul>
      {{/if}}
      {{#if closeMatch}}
        <h2><code>skos:closeMatch</code></h2>
        <ul>
      	{{#each closeMatch}}
        	<li><a href="{{{this}}}" {{{is_internal_link this}}}>{{{ this}}}</a></li>
     	 	{{/each}}
        </ul>
      {{/if}}

    </detail>
  </div>
</div>